@model WebApplication18.Models.ContainerModel

@{
    ViewData["Title"] = "ContainerView";
}

<h1>ContainerView</h1>

<h4>ContainerModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ContainerView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContainerName" class="control-label"></label>
                <input asp-for="ContainerName" class="form-control" />
                <span asp-validation-for="ContainerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlobName" class="control-label"></label>
                <input asp-for="BlobName" class="form-control" />
                <span asp-validation-for="BlobName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlobContents" class="control-label"></label>
                <input asp-for="BlobContents" class="form-control" />
                <span asp-validation-for="BlobContents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
