@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4" >Database Information</h4>
    <br/>
    <p>We are having details related to Employees, Department and Insurance</p>
    <br/>
   
    <p>In this application we allow users to create new employee with relevant department and insurance details</p>
</div>

