<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ConnectionString"
			 value="DefaultEndpointsProtocol=https;AccountName=firstaccount002;AccountKey=Faxwn0jUug2dHV4pg0lY/+rFXaI+UMAJnFVNtwPziFTrPTdOv4PnsmrTtVQhKaTpLJWhzPmvjxmH5X2adznjrw==;EndpointSuffix=core.windows.net"/>
	</appSettings>
</configuration>