@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-container">
    <p>

        <h2> Ticket Collector </h2>
    </p>
    <p>
        <div class="image">
            <img src="https://cdn.pixabay.com/photo/2017/08/26/23/37/business-2684758__340.png">
        </div>
        <b>
            Ticket Collector is India’s biggest online transport ticketing stage that has changed transport travel in the nation by conveying straightforwardness and comfort to a great many Indians who travel utilizing transports.

            Started in 2021, Ticket Collector is a leading travel organization By giving the most stretched out decision, predominant client benefit, least costs, and unmatched advantages.

            Ticket Collector has a worldwide nearness with activities crosswise over Indonesia, Singapore, Malaysia, Colombia, and Peru separated from India.
        </b>
</div>
<br>
<br>
<div class="credit">Made with <span style="color:tomato">❤</span> by  <b>BATCH -4</b> </div>

<style>
    body {
        background-color:lightyellow;
    }
    p {
        font-size: 10px !important;
    }
</style>
