@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>Contact Details</h2>

<p>
    <b>Email:</b> ticketcollector@gmail.com
</p>
<p>
    <b>Phone-No:</b> +91-1234567890
</p>
<p>
    <b>Address:</b> Capgemini Technology Services India Limited
    No. 164-165 (P),
    EPIP Phase II, Whitefield,
    Bengaluru – 560066, Karnataka,
    India
</p>

<style>
    body {
        background-color: lightyellow;
    }
    p {
        font-size: 20px !important;
    }
</style>
<div class="image">
    <img src="https://cdn.pixabay.com/photo/2016/12/13/17/18/fax-1904644_960_720.jpg">
</div>
