@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url("https://c0.wallpaperflare.com/preview/17/490/484/paper-business-document-office.jpg");
    }
    </style>
<div id="sectionMyProjectsHome">
    <div class="my-projects-home-page">
      
        <h1 class="my-projects-heading">Appointments</h1>
        <p class="my-project-description"></p>
        <div class="d-flex flex-row justify-content-center">
            <div>
            <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/advanced-technologies-img.png" class="img" onclick="display('sectionAdvancedTechnology')" />
            <h1>Appointment</h1>
            <button class="btn">Book</button>
                </div>
            <div>
            <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/advanced-technologies-img.png" class="img" onclick="display('sectionDiwali')" />
            <h1>Appointment</h1>
            <button class="btn">Book</button>
                </div>
        </div> 
        
    </div>
</div>

   

   
<script type="text/javascript" src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/js/ccbp-ui-kit.js"></script>
